@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Lato", sans-serif;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.user-logo-top {
  width: 43px;
}
@media (max-width: 460px) {
  .user-profile-banner {
    height: 100px;
  }
  .pin-detail-title {
    font-size: 1.5rem;
    margin-bottom: -10px;
  }
  .pin-detail-comment-title {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: -10px;
  }
  .pin-detail-button {
    padding: 0 15px;
    font-weight: 600;
  }
  .create-pin-upload-div {
    height: 250px;
  }
  .create-pin-image-types {
    margin-top: 40px;
    text-align: center;
  }
  .create-pin-add-title {
    font-size: 1.2rem;
  }
  .create-pin-profile-img {
    width: 50px;
  }
  .create-pin-choose-pin {
    font-weight: 500;
  }
  .create-pin-button {
    width: 90px;
  }
}
